<ol class="relative border-s border-gray-200 dark:border-gray-700">                  
  <li class="mb-10 ms-6">            
    <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
      <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
      </svg>
    </span>
    <h3 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Maryachi (E-commerce)<span class="bg-[#f3dbff] text-[#7611a6] text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-[#4a255d] dark:text-[#d98dff] ms-3">Actual</span></h3>
    <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Diseñadora grafica</h2>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Enero 2024 - Actual</time>
    <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
      Mis tareas a realizar son las de creación de contenido, mailyng, imagen/video 
      publicitaria, creación de empaque, maquetación de pág. web., 
      animación de personajes, apoyo impreso etc...
    </p>
  </li>
  <li class="mb-10 ms-6">
      <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
          <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
          </svg>
      </span>
      <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Funeraria Hernández y Monte Albán</h3>
      <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Diseñadora gráfica</h2>
      <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Octubre 2022 - Diciembre 2023</time>
      <p class="text-base font-normal text-gray-500 dark:text-gray-400">
        Mis tareas a realizar fueron diseño e impresión en material como etiquetas y apoyo 
        impreso y creación de contenido.
      </p>
  </li>
  <li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
        <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Wallander</h3>
    <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Diseñadora gráfica</h2>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Enero 2022 - Octubre 2022</time>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Mis tareas a realizar fueron diseño e impresión en material como etiquetas y apoyo impreso y creación de contenido.
    </p>
  </li>
  <li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
        <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Cervecería Cuauhtémoc Moctezuma (Heineken)</h3>
    <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Diseñadora gráfica</h2>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Agosto 2021 - Enero 2022</time>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Mis tareas a realizar fueron como de apoyo en material impreso y digital.
    </p>
  </li>
  <li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
        <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Nailbar (Franquicia de uñas)</h3>
    <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Diseñadora gráfica / Community manager</h2>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Enero 2020 - Agosto 2021</time>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Mis tareas a desarrollar es de creadora de contenido, apoyo en material impreso, etc.
    </p>
  </li>
  <li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
        <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Universidad Autónoma de Durango (UAD)</h3>
    <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Diseñadora web</h2>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Enero 2019 - Diciembre 2019</time>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      En el área de Diseño. Colaborando con ellos para realizar, optimizar y desplegar sus múltiples páginas web.
    </p>
  </li>
  <li class="mb-10 ms-6">
    <span class="absolute flex items-center justify-center w-6 h-6 bg-[#f3dbff] rounded-full -start-3 ring-8 ring-white dark:ring-[#090b11] dark:bg-[#4a255d]">
        <svg class="w-2.5 h-2.5 text-[#7611a6] dark:text-[#d98dff]" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
            <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
        </svg>
    </span>
    <h3 class="mb-1 text-lg font-semibold text-gray-900 dark:text-white">Carniceria Los Corrales</h3>
    <h2 class="flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white">Prácticas profesionales</h2>
    <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">Julio 2018 - Enero 2019</time>
    <p class="text-base font-normal text-gray-500 dark:text-gray-400">
      Realice mis prácticas profesionales en el departamento de diseño grafico, creando contenido para redes sociales, fotografia y branding del Mezcal Cuero Viejo.
    </p>
  </li>
  

</ol>



