---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="icon">
		<Icon icon="heroIcon1" color="var(--accent-regular)" size="8rem" gradient />
	</div>
	<div class="icon">
		<Icon icon="heroIcon2" color="var(--accent-regular)" size="8rem" gradient />
	</div>
	<div class="icon">
		<Icon icon="heroIcon3" color="var(--accent-regular)" size="8rem" gradient />
	</div>
	<div class="icon">
		<Icon icon="heroIcon4" color="var(--accent-regular)" size="8rem" gradient />
	</div>
	<div class="icon">
		<Icon icon="heroIcon5" color="var(--accent-regular)" size="8rem" gradient />
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		max-width: 90%;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 0 auto;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	.icon {
		width: 8rem;
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			flex-direction: row;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
