

<blockquote class="mt-9">
    <p>Videos</p>
</blockquote>
<div class="grid grid-cols-1 md:grid-cols-4 xs:grid-cols-2 gap-4 mt-4 mb-9">
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/13.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/10.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/7.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/5.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/4.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/6.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/2.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/12.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/11.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/8.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/3.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/9.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/1.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
</div>
<blockquote class="mb-4">
    <p>Publicaciones</p>
</blockquote>


<style>
    .vid {
        border-radius: 20px;
        box-shadow: var(--shadow-md);
    }

    blockquote {
        font-size: var(--text-lg);
		font-family: var(--font-brand);
		font-weight: 600;
		line-height: 1.1;
		padding-inline-start: 1.5rem;
		border-inline-start: 0.25rem solid var(--accent-dark);
		color: var(--gray-0);
    }
</style>
