

<blockquote class="mt-9">
    <p>Videos</p>
</blockquote>
<div class="grid grid-cols-1 md:grid-cols-4 xs:grid-cols-2 gap-4 mt-4 mb-11">
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/1.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/10.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/7.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/5.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/4.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/6.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/2.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/12.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/11.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/8.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
    <div class="grid gap-4">
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/3.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/9.mp4" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
        <div>
            <video class="vid" src="/assets/projects/maryachi/video/13.webm" autoplay loop muted>
                Tu navegador no admite el elemento <code>video</code>.
            </video>
        </div>
    </div>
</div>
<blockquote class="mb-0">
    <p>Publicaciones</p>
</blockquote>


<style>
    .vid {
        border-radius: 20px;
        box-shadow: var(--shadow-md);
        width: 100%;
    }

    blockquote {
        font-size: var(--text-lg);
		font-family: var(--font-brand);
		font-weight: 600;
		line-height: 1.1;
		padding-inline-start: 1.5rem;
		border-inline-start: 0.25rem solid var(--accent-dark);
		color: var(--gray-0);
    }
</style>
